@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import '@ucdavis/gunrockin/sass/gunrockin.scss';
$primary-color:    $bodega;
$secondary-color:  $california;
$theme-colors: (
 primary: $primary-color,
 secondary: $secondary-color
);
@import "bootstrap/scss/bootstrap";
$font-path: '/src/node_modules/@ucdavis/gunrockin/media';
@import '@ucdavis/gunrockin/sass/_typography.scss';
