table.table {
  font-size:0.5rem;
  margin-bottom:0px;
  input {
    font-size:0.5rem;
  }
  @include breakpoint (md) {
    font-size:0.75rem;
    input {
      font-size:0.75rem;
    }
  }
  @include breakpoint (lg) {
    font-size:0.85rem;
    input {
      font-size:0.85rem;
    }
  }
  @include breakpoint (xl) {
    font-size:1rem;
    input {
      font-size:1rem;
    }
  }
  thead {
    background-color:$bg-secondary;
    th {
      border-bottom:1px solid $borders-secondary;
    }
  }
  tr {
    &.expense-associated {
      background-color:transparentize($quad,0.85);
    }
    td {
      padding:0.5rem;
      vertical-align: middle;
      @include breakpoint(xl) {
        padding:0.75rem;
      }
    }
  }
  .percent-td {
    height: 32px;
    padding: 0.375rem 0.35rem;
  }
}

// Active table
table.active-table {
  th {
    border-top:none;
    &:first-child {
      width:5%;
    }
    &:nth-child(2) {
      width:20%;
      @include breakpoint(xl) {
        width:17%;
      }
    }
    &:nth-child(3) {
      width:36%;
    }
  }
  td {
    background-color:transparentize($gunrock,0.91);
  }
  tbody tr:last-child {
    border-bottom:5px solid $borders;
  }
  margin-bottom:0px;
}

//Projects table
table.projects-table {
  tbody {
    td {
      &:first-child {
        width:5%;
      }
      &:nth-child(2) {
        width:20%;
        @include breakpoint(xl) {
          width:17%;
        }
      }
      &:nth-child(3) {
        width:36%;
      }
    }
  }
}
// Summary Table
table.summary-table {
  tbody {
    tr.Heading {
      background-color:transparentize($sunflower, .9)
    }
    tr.GroupSum {
      background-color:transparentize($quad,0.85);
    }
  }
}
// Navigation
nav {
  li.nav-item a {
    font-size:1.1rem;
  }
}
// Buttons
.btn {
  font-family: $sans-bold;
}
.btn-assigners {
  width:45%;
}

// Misc
.form-shadow, .form-shadow-right input {
  box-shadow: $box-shadow;
}

// checkboxes

// .checkbox > input {
//     height: 24px;
//     width: 24px;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     -o-appearance: none;
//     appearance: none;
//     border: 1px solid $borders;
//     border-radius: 2px;
//     outline: none;
//     transition-duration: 0.2s;
//     background-color: #fff;
//     cursor: pointer;
//   }
//   .checkbox > input:checked {
//       content: '\2713';
//       display: block;
//       text-align: center;
//       color: pink;
//       z-index: 999;
//   }

//   .checkbox > input:active {
//       border: 1px solid $primary-font;
//   }
// .checkbox > input:checked {
//     background-color: $primary-font;
// }
// .checkbox {
//   &.checkbox-primary {
//     &> input:checked {
//       background-color: $primary-color;
//       border-color: $primary-color;
//     }
//     &> input:active {
//       border:1px solid $primary-color;
//     }
//   }
// }
// .checkbox {
//   &.checkbox-secondary {
//     &> input:checked {
//       background-color: $secondary-color;
//       border-color: $secondary-color;
//     }
//     &> input:active {
//       border:1px solid $secondary-color;
//     }
//   }
// }
// Project info {
  .projectinfo {
    p {
      font-size:1rem;
      margin-bottom:0.8rem;
    }
  }