.form-group {
  margin-bottom:0.5rem;
}
table.table {
  font-size:0.5rem;
  margin-bottom:0px;
  tr {
    th {
      padding:0.25rem 0.5rem;
    }
    td {
      padding:0.25rem 0.5rem;
    }
  }
  input {
    font-size:0.5rem;
  }
  @include breakpoint (md) {
    font-size:0.75rem;
    input {
      font-size:0.75rem;
    }
  }
  @include breakpoint (lg) {
    font-size:0.85rem;
    input {
      font-size:0.85rem;
    }
  }
  @include breakpoint (xl) {
    font-size:1rem;
    input {
      font-size:1rem;
    }
  }
  thead {
    background-color:$bg-secondary;
    th {
      border-bottom:1px solid $borders-secondary;
    }
  }
  tr {
    &.expense-associated {
      background-color:transparentize($quad,0.85);
    }
    td {
      vertical-align: middle;
      @include breakpoint(xl) {
        padding:0.75rem;
      }
    }
  }
  .percent-td {
    height: 24px;
    padding: 0.375rem 0.35rem;
  }
}

// Active table
table.active-table {
  th {
    border-top:none;
    &:first-child {
      width:5%;
    }
    &:nth-child(2) {
      width:20%;
      @include breakpoint(xl) {
        width:17%;
      }
    }
    &:nth-child(3) {
      width:36%;
    }
  }
  td {
    background-color:transparentize($sunflower,0.91);
  }
  tbody tr:last-child {
    border-bottom:5px solid $sunflower;
  }
  margin-bottom:0px;
}

//Projects table
table.projects-table {
  tbody {
    td {
      &:first-child {
        width:5%;
      }
      &:nth-child(2) {
        width:20%;
        @include breakpoint(xl) {
          width:17%;
        }
      }
      &:nth-child(3) {
        width:36%;
      }
    }
  }
}
// Summary Table
table.summary-table {
  tbody {
    tr.Heading {
      background-color:transparentize($sunflower, .9)
    }
    tr.GroupSum {
      background-color:transparentize($quad,0.85);
    }
  }
}
// Navigation
nav {
  li.nav-item a {
    font-size:1.1rem;
  }
}
// Buttons
.btn {
  font-family: $sans-bold;
}
.btn-assigners {
  width:45%;
}

// Misc
.form-shadow, .form-shadow-right input {
  box-shadow: $box-shadow;
}

// Project info {
  .projectinfo {
    p {
      font-size:1rem;
      margin-bottom:0.8rem;
    }
  }

  // Navigation
  nav {
    a.active {
      border-bottom:$sunflower 2px solid,
    }
  }

  // loading section
  .loading-card {
    img {
      width:25%;
    }
  }